.storeDetail {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;

  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__product {
    display: flex;

    width: 70%;

    &-img {
      align-items: center;
      display: flex;
      width: 30%;

      img {
        height: 200px;
        width: 100%;
        object-fit: contain;
      }
    }

    &-detail {
      padding: 16px;
      width: 70%;

      label {
        color: rgb(120, 120, 120);
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
}
